.overlay_detail {
  position: absolute;
  height: 100%;
  width: 50%;
  top:3.9%;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
background-position:  center;
background-repeat: no-repeat;
background-attachment: fixed;
  
}
.overlay_detail p {
    position: inherit;
    font-family: Montserrat;
    font-weight:bold;
    color:white;
    text-align:left;
    letter-spacing: 1px;
  width:400px;
  margin: 40px  auto auto 30px;
line-height: 1.5;

}
.closeIcon{
color:white;
margin:10px auto auto 90%;
cursor: pointer;

}

.overlay_hide{
  display: none;
}
@media(max-width:900px){
.overlay_detail{
  width:100%;
  font-size:0.8em;
 
}
.overlay_detail p {
  width:90%;
  margin:10px;
}
}
 